In [1]:
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [2]:
executable_path = {"executable_path": "C:\Program Files\chromedriver"}
browser=Browser("chrome", **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204%3A165&blank_scope=Latest'

In [4]:
response = requests.get(url)

In [5]:
soup = BeautifulSoup(response.text, 'html.parser')

In [6]:
news_title = soup.find('div', class_="content_title").text

In [7]:
print(news_title)

NASA's Curiosity Mars Rover Finds a Clay Cache

In [8]:
news_p = soup.find('div', class_="rollover_description_inner").text

In [9]:
print(news_p)

The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.

In [10]:
image_url= 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [11]:
browser.visit(image_url)

In [12]:
html_featured_image = browser.html

In [13]:
image_soup = BeautifulSoup(html_featured_image, 'html.parser')

In [14]:
nasa_image_url=image_soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

In [15]:
nasa_image_url

'/spaceimages/images/wallpaper/PIA19952-1920x1200.jpg'

In [16]:
nasa_url= 'https://www.jpl.nasa.gov'

In [17]:
complete_image_url= nasa_url + nasa_image_url

In [18]:
print(complete_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA19952-1920x1200.jpg

In [19]:
weather_url= 'https://twitter.com/marswxreport?lang=en'

In [20]:
browser.visit(weather_url)

In [21]:
html_weather= browser.html

In [22]:
weather_soup=BeautifulSoup(html_weather, 'html.parser')

In [23]:
tweets=weather_soup.find_all('div', class_='js-tweet-text-container')

In [24]:
mars_weather=''

In [25]:
for tweet in tweets:
    if 'InSight' in tweet.find('p').text:
        print(tweet.text)
        mars_weather=tweet.text
        break
    else:
        pass

InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.70 hPapic.twitter.com/MhPPOHJg3m

In [26]:
print(mars_weather)

InSight sol 261 (2019-08-21) low -102.4ºC (-152.4ºF) high -26.6ºC (-15.8ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 16.0 m/s (35.8 mph)
pressure at 7.70 hPapic.twitter.com/MhPPOHJg3m

In [27]:
facts_url='https://space-facts.com/mars/'

In [28]:
tables = pd.read_html(facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [29]:
df = tables[1]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
df.columns=['Fact', 'Value']

In [31]:
df.set_index('Fact', 'Value' , inplace=True)

In [32]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [33]:
hemispheres_url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [34]:
browser.visit(hemispheres_url)

In [35]:
html_hemispheres= browser.html

In [36]:
hemisphere_soup=BeautifulSoup(html_hemispheres, 'html.parser')

In [37]:
hemisphere_items=hemisphere_soup.find_all('div', class_='item')

In [38]:
hemisphere_image_urls=[]

In [39]:
hemi_main_url = 'https://astrogeology.usgs.gov'

In [40]:
for i in hemisphere_items:
    title= i.find('h3').text
    hemi_img_url=i.find('a', class_='itemLink product-item')['href']
    browser.visit(hemi_main_url+hemi_img_url)
    hemi_html=browser.html
    hemi_soup= BeautifulSoup(hemi_html, 'html.parser')
    hemi_img_url= hemi_main_url + hemi_soup.find('img', class_='wide-image')['src']
    hemisphere_image_urls.append({'title': title, 'img_url': hemi_img_url})

In [41]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]